*{
    background-color: rgb(187, 106, 228);
}
.Principal{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.Coluna{
    display: flex;
    flex-direction: column;
}


img{
    width: 50%;
    height: 50%;
}
h1{
    color:rgb(255, 255, 255)
}